:root {
    font-family: 'Roboto', sans-serif;
    --light: #F0EBD8;
    --dark: #0D1321;
    --hover: #3E5C76;
    --clicked: #1D2D44;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--dark);
}

#app-header {
    color: var(--dar);
    /*
    set up container grid
    */
}

#container {
    background-color: var(--light);
    width: 90%;
    height: 80%;
    border: 5px solid var(--hover);
    border-radius: 20px;
}