:root {
    --white: #FFFFFF;
    --light-gray: #FAFAFA;
    --red: #DC4C3E;
}

#container {
    display:grid;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 43px;
    height: 100vh;
}

#header {
    grid-area: 1 / 1 / 2 / 3 ;
    background-color: var(--red);
}

#sidebar {
    background-color: var(--light-gray);
    width: 384px;
}
